@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');

*:focus {
  border: 2px solid #000000;
}

html {
  scroll-behavior: smooth;
}
  
body {
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

nav {
  /* background-image: linear-gradient(#FFFFFF, #9136AE); */
  background-color: #000000;
  padding: 20px 0;
  padding: 30px;
}

nav ul {
  text-align: right;
}

nav li {
  display: inline;
  text-align: right;
  padding-right: 20px;
}

nav img {
  align-content: left;
  width: 10%;
  padding: 20px 0 0 0;
}

nav a:hover {
  font-style: italic;
}

nav a:visited {
  color: #FFFFFF;
}

a:link {
  text-decoration: none;
}

a.skip {
  background: #FFFFFF;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  -o-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

a.skip:focus {
  top:20px;
  color: #000000;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
}

h1 {
  font-size: 20px;
  padding: 30px 0 0 30px;
  text-align: left;
}
  
h2 {
  font-size: 25px;
  padding: 30px 0 0 30px;
}

.name {
  font-size: 15px;
  color: #FFFFFF;
  padding: 20px 0 0 0;
}

.index-header p {
  font-size: 30px;
  padding: 30px 0 0 30px;
}

.index-header p {
  animation: shake 1.4s  ;
}

@keyframes shake {
  0%{
    transform: translateX(0px);
    transform: translateY(0px);
  }
  25%{
    transform: translateX(25px);
    transform: translateY(25px);
  }
    
  50%{
    transform: translateX(-25px);
    transform: translateY(-25px);
  }
  100%{
    transform: translateX(0px);
    transform: translateY(0px);
  }
}

.all-projects {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-self: center;
  align-content: center;
  justify-content: center;
}

.all-projects img {
  padding: 15px;
}

.all-projects img:hover {
  filter: drop-shadow(4px 4px 4px #b0b0b0);
  transform:scale(1.02);
  transition: all 0.7s;
}

footer {
  /* background-image: linear-gradient(#FFFFFF, #9136AE);
  color: #FFFFFF; */
  padding: 0 0 30px 0;
}

footer ul {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(8, auto); /* 8 col */
}

footer p {
  font-size: 14px;
  text-align: center;
  padding: 15px 0px;
}

footer li {
  list-style: none;
  padding-left: 20px;
  padding-right: 20px;
  grid-row: 1 / -1;
}

footer li img:hover {
  filter: drop-shadow(4px 4px 4px #b0b0b0);
  transform:scale(1.02);
  transition: all 0.7s;
}

/* Style for about.html */
.about-content {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  justify-content: center;
  align-content: center;
  text-align: center;
}

.about-content img {
  object-fit: cover;
  width: 100%;
  height: 80%;
  box-shadow: 0px 0px 0px 10px #9136AE;
}

.about-content img:first-child {
  margin: 80px 0 0 0;
  grid-column-start: 1;
  grid-column-end: 4;
  height: 60%;
}

.about-content img:hover {
  filter: drop-shadow(4px 4px 4px #b0b0b0);
  transform:scale(1.02);
  transition: all 0.7s;
}

.contact-form {
  padding: 10px;
  text-align: center;
}

/* Styling for resume.html */

.resume-container {
  margin: 30px 60px;
  border: 10px solid #9136AE;
}

.r-title {
  color: #9136AE;
  font-size: 30px;
  padding: 30px 90px;  
  text-transform: uppercase;
}

.r-block {
  padding: 15px 90px;
  margin-bottom: 10px;
}

.r-role {
  font-weight: 700;
  text-align: left;
}

.date-range {
  text-align: right;
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
  .animated-text {
      animation: none;
  }

  .fade {
      animation: none;
  }
}